.vscode/settings.json
cnf_instances/domain_encoding_test.cnf
cnf_instances/test.cnf
utils/__pycache__/get_args.cpython-38.pyc
__pycache__/dimacs_parser.cpython-38.pyc
__pycache__/dpll_solver.cpython-38.pyc
cnf_instances/*
unit_tests/*
